<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="divRegistro">
    <ion-item >
      <ion-label>
        UUID: {{uuid}}
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>
        manofactura: {{manofactura}}
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>
        modelo: {{modelo}}
      </ion-label>
    </ion-item>

    <ion-button color="success" expand="full" disabled="{{isConnected2}}" (click)='clRegistrar()'>Registrar</ion-button>

  </div>
  <div id="divEnvioInformacion">
    <ion-item >
      <ion-label>
        Latitud: {{Latitud}}
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>
        Longitud: {{Longitud}}
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>
        Estado: {{Estado}}
      </ion-label>
    </ion-item>
  </div>


</ion-content>
